In [1]:
import pandas as pd
import statsmodels.formula.api as smf
import warnings
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_excel("D:/Projects/Capstone_Projects/Final project/Data set.xlsx")

In [5]:
df

    CPI  discounts  offers   Sales
0  2600          3      20  550000
1  3000          4      15  565000
2  3200          5      18  610000
3  3600          3      30  595000
4  4000          5       8  760000
5  4100          6       8  810000

In [6]:
X = df.iloc[:,0:3]

In [7]:
Y = df['Sales']

In [8]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model

In [9]:
model = linear_model.LinearRegression()
model.fit(X,Y)
y_pred = model.predict(X)

In [10]:
model.coef_

array([  128.43512778,  5913.51964731, -4902.54602054])

In [11]:
model.intercept_

264780.07095467113

In [12]:
print("R squared: {}".format(r2_score(y_true=Y,y_pred=y_pred)))

R squared: 0.9517053277318956

5000 cpi , 3 percentage discounts, 20 rewards offers

4000 cpi , 8 percentage discounts, 19 rewards offers

In [13]:
print(*model.predict([[5000,3,20]]))

826645.3483822161

In [15]:
print(*model.predict([[4000,8,19]]))

732680.3648600471

In [16]:
def predict_sales(cpi,per,rew):
    sales = 264780.07095467113 + 128.43512778*cpi + 5913.51964731*per + (-4902.54602054*rew)
    print(sales)

In [17]:
predict_sales(5000,3,20)

826645.348385801

In [18]:
predict_sales(4000,8,19)

732680.364862891